
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 16%;
}

.logoAnimalCrossing {
  width: 100px;
  border-radius: 20px;
}

input {
  font-size: 1.5em;
}

.mat-elevation-z8 {
  box-shadow: none !important;
}

.jumbotron {
  background-color: white;
  border-radius: 0px;
}

.mat-sort-header-button {
  font-size: 1.5em;
}
